:root {
  --primary: #8e7bef;
  --secondary: #5d3cef;
  --smoke: #f6f6ff;
  --third: #f1ecfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: var(--smoke);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  color: #4d4d4d;
  font-size: 28px;
  text-transform: uppercase;
  padding-right: 20px;
}

.menu-desktop a:nth-child(1) {
  color: var(--primary);
}

.drop-down {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.drop-down span {
  display: none;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #808080;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.drop-down.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.drop-down.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.drop-down.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.drop-down.is-active:hover span {
  background-color: var(--secondary);
}

.menu-desktop {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
}

.mobile-menu {
  display: none;
}

.mobile-active a {
  width: 100%;
  padding: 1rem 0;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #808080;
  margin: 0.5rem auto;
}

.mobile-active a:hover {
  background-color: var(--primary);
  color: white;
}

.menu-desktop a {
  color: #808080;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
}

.menu-desktop a.is-active,
.menu-desktop a:hover {
  color: var(--primary);
  display: block;
}

/*Mobile xs*/
@media only screen and (min-width: 1px) and (max-width: 375px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 10px;
    background-color: var(--smoke);
  }

  .menu-desktop {
    display: none;
  }

  .mobile-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
  }

  .drop-down span {
    display: block;
  }

  .firstInfo {
    padding: 60px 30px 10px 20px;
  }

  .firstInfo p {
    margin-top: 10px;
  }

  .profilePic {
    text-align: center;
    background-image: url(../img/lineas-portafolio-01.svg);
    background-repeat: no-repeat;
    position: relative;
  }

  .profilePic img {
    width: 70%;
    background: none;
    padding-bottom: 20px;
  }

  .networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex;
    background: none;
    padding-left: 45px;
    padding-right: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .networks a {
    background: none;
  }

  .networks img {
    background-color: var(--primary);
    border-radius: 100px;
    width: 45px;
    padding: 2px;
    border: 2px solid var(--smoke);
  }

  h2 {
    text-align: center;
    margin-top: 40px;
  }

  .contact {
    padding: 10px;
    margin: 10px 20px;
    color: white;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact p {
    background-color: var(--secondary);
    text-align: center;
  }

  .contact img {
    padding-right: 20px;
    background: none;
    border: none;
    width: 40px;
  }

  .about p {
    margin: 10px 20px;
    justify-content: baseline;
    text-align: center;
  }

  .cards {
    max-height: 150px;
    display: flex;
    overflow-x: auto;
  }

  .cards::-webkit-scrollbar {
    width: 0;
  }

  .singleCard {
    background-color: var(--third);
    min-width: 60%;
    margin: 10px;
    font-size: small;
    padding: 10px;
    line-height: 110px;
    margin-right: 2px;
  }

  .cardTitle {
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCard img {
    width: 100px;
    background: none;
    margin: 0;
    padding-right: 5px;
  }

  .singleCard h3 {
    background-color: var(--third);
    display: none;
  }

  .singleCard p {
    background-color: var(--third);
    padding-top: 5px;
    display: none;
  }

  .singleExperienceCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .singleExperienceCard img {
    width: 80px;
  }

  .div-wi{
    width: 15%;
  }

  .portfolioCards {
    display: block;
    text-align: center;
    padding: 20px;
  }

  .portfolioCards img {
    width: 80%;
    height: 50%;
  }

  .contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .footerPhone,
  .footerMail {
    text-align: center;
  }

  .footerMail img,
  .footerPhone img {
    background-color: var(--third);
    border-radius: 50px;
  }

  .academlo {
    color: var(--primary);
    text-align: center;
    font-size: large;
    height: 70px;
    align-items: center;
    margin-top: 50px;
  }
}

/*Mobile*/
@media only screen and (min-width: 376px) and (max-width: 765px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 10px;
    background-color: var(--smoke);
  }

  .menu-desktop {
    display: none;
  }

  .mobile-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
  }

  .drop-down span {
    display: block;
  }

  .firstInfo {
    padding: 60px 30px 10px 20px;
  }

  .firstInfo p {
    margin-top: 10px;
  }

  .profilePic {
    text-align: center;
    background-image: url(../img/lineas-portafolio-01.svg);
    background-repeat: no-repeat;
    position: relative;
  }

  .profilePic img {
    width: 70%;
    background: none;
    padding-bottom: 20px;
  }

  .networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex;
    background: none;
    padding-left: 45px;
    padding-right: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .networks a {
    background: none;
  }

  .networks img {
    background-color: var(--primary);
    border-radius: 100px;
    width: 45px;
    padding: 2px;
    border: 2px solid var(--smoke);
  }

  h2 {
    text-align: center;
    margin-top: 40px;
  }

  .contact {
    padding: 10px;
    margin: 10px 20px;
    color: white;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact p {
    background-color: var(--secondary);
    text-align: center;
  }

  .contact img {
    padding-right: 20px;
    background: none;
    border: none;
    width: 40px;
  }

  .about p {
    margin: 10px 20px;
    justify-content: baseline;
    text-align: center;
  }

  .cards {
    display: flex;
    max-height: 150px;
    overflow-x: auto;
  }

  .cards::-webkit-scrollbar {
    width: 0;
  }

  .singleCard {
    background-color: var(--third);
    min-width: 55%;
    margin: 10px;
    font-size: small;
    padding: 10px;
    line-height: 110px;
    margin-right: 2px;
  }

  .cardTitle {
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCard img {
    width: 100px;
    background: none;
    margin: 0;
    padding-right: 5px;
  }

  .singleCard h3 {
    background-color: var(--third);
    display: none;
  }

  .singleCard p {
    background-color: var(--third);
    padding-top: 5px;
    display: none;
  }

  .singleExperienceCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .singleExperienceCard img {
    width: 80px;
  }

  .div-wi{
    width: 15%;
  }

  .portfolioCards {
    display: block;
    text-align: center;
    padding: 20px;
  }

  .portfolioCards img {
    width: 80%;
    height: 50%;
  }

  .contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .footerPhone,
  .footerMail {
    text-align: center;
  }

  .footerMail img,
  .footerPhone img {
    background-color: var(--third);
    border-radius: 50px;
  }

  .academlo {
    color: var(--primary);
    text-align: center;
    font-size: large;
    height: 70px;
    align-items: center;
    margin-top: 50px;
  }
}

/*Tablet*/
@media only screen and (min-width: 766px) and (max-width: 929px) {
  nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 10px;
  }

  body {
    display: block;
  }

  .firstContainer {
    display: flex;
    padding: 0 10%;
  }

  .firstInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .firstInfo p {
    margin-top: 20px;
  }

  .pTwo {
    display: none;
  }

  .profilePic {
    width: 50%;
    text-align: center;
    background-image: url(../img/lineas-portafolio-01.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profilePic img {
    width: 80%;
    background: none;
  }

  .networks {
    justify-content: space-around;
    background: none;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    margin: 0px 150px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .networks a {
    background: none;
  }

  .networks img {
    background-color: var(--primary);
    border-radius: 100px;
    width: 45px;
    padding: 2px;
    border: 2px solid var(--smoke);
  }

  h2 {
    text-align: center;
    margin-top: 40px;
  }

  .contact {
    padding: 10px;
    margin: 10px 20px;
    color: white;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    display: none;
  }

  .contact p {
    background-color: var(--secondary);
    text-align: center;
  }

  .contact img {
    padding-right: 20px;
    background: none;
    border: none;
    width: 40px;
  }

  .about p {
    margin: 10px 150px;
    justify-content: baseline;
    text-align: center;
  }

  .skills {
    margin: 10px 150px;
  }

  .cards {
    display: flex;
  }

  .singleCard {
    background-color: var(--third);
    width: 46%;
    margin: 10px;
    font-size: small;
    padding: 10px;
  }

  .cardTitle {
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCard img {
    width: 40px;
    background: none;
    margin: 0;
    padding-right: 5px;
  }

  .singleCard h3 {
    background-color: var(--third);
  }

  .singleCard p {
    background-color: var(--third);
    padding-top: 5px;
  }

  .singleExperienceCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .singleExperienceCard img {
    width: 80px;
  }

  .div-wi{
    width: 15%;
  }

  .portfolioCards {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 10px 50px;
  }

  .portfolioCards img {
    width: 30%;
    height: 300px;
    padding: 10px;
  }

  .contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .footerPhone,
  .footerMail {
    text-align: center;
  }

  .footerMail img,
  .footerPhone img {
    background-color: var(--third);
    border-radius: 50px;
  }
  .academlo {
    color: var(--primary);
    text-align: center;
    font-size: large;
    height: 70px;
    align-items: center;
    margin-top: 50px;
  }
}

/*Desktop*/
@media only screen and (min-width: 930px) {
  nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 10px;
  }

  body {
    display: block;
  }

  .firstContainer {
    display: flex;
    padding: 0 10%;
  }

  .firstInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .firstInfo p {
    margin-top: 20px;
  }

  .profilePic {
    width: 50%;
    text-align: center;
    background-image: url(../img/lineas-portafolio-01.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profilePic img {
    width: 80%;
    background: none;
  }

  .networks {
    justify-content: space-around;
    background: none;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    margin: 0px 150px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .networks a {
    background: none;
  }

  .networks img {
    background-color: var(--primary);
    border-radius: 100px;
    width: 45px;
    padding: 2px;
    border: 2px solid var(--smoke);
  }

  h2 {
    text-align: center;
    margin-top: 40px;
  }

  .contact {
    padding: 10px;
    margin: 10px 20px;
    color: white;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    display: none;
  }

  .contact p {
    background-color: var(--secondary);
    text-align: center;
  }

  .contact img {
    padding-right: 20px;
    background: none;
    border: none;
    width: 40px;
  }

  .about p {
    margin: 10px 150px;
    justify-content: baseline;
    text-align: center;
  }

  .skills {
    margin: 10px 150px;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCard {
    background-color: var(--third);
    width: 46%;
    margin: 10px;
    font-size: small;
    padding: 10px;
  }

  .singleCard p {
    text-align: center;
  }

  .cardTitle {
    background-color: var(--third);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCard img {
    width: 40px;
    background: none;
    margin: 0;
    padding-right: 5px;
  }

  .singleCard h3 {
    background-color: var(--third);
  }

  .singleCard p {
    background-color: var(--third);
    padding-top: 5px;
  }

  .singleExperienceCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .singleExperienceCard img {
    width: 80px;
  }

  .div-wi{
    width: 15%;
  }

  .portfolioCards {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 10px 100px;
  }

  .portfolioCards img {
    width: 30%;
    height: 300px;
    padding: 10px;
  }

  .contactInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
  }

  .footerPhone,
  .footerMail {
    text-align: center;
  }

  .footerMail img,
  .footerPhone img {
    background-color: var(--third);
    border-radius: 50px;
  }
  .academlo {
    color: var(--primary);
    text-align: center;
    font-size: large;
    height: 70px;
    align-items: center;
    margin-top: 50px;
  }
}
